<div class="row">
  <div class="col-6 content-text mx-auto text-center task-edit">
    <div class="row justify-content-center content-title">
      <div class="col-12 task-edit-head">
        <h3><%= I18n.t('forms.edit') %></h3>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>