<div class="row pages-contents">
  <div class="col-6 content-text mx-auto text-center">
    <div class="row justify-content-center content-title">
      <div class="col-12">
        <h3><%= I18n.t('tasks.new') %></h3>
      </div>
    </div>
    <%= render 'form' %>
  </div>
</div>